# Compiled class file
*.class

.vscode/*

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
march-madness-stats/.LCKpom.xml~
march-madness-stats/backend/.LCKpom.xml~
march-madness-stats/frontend/.LCKpom.xml~

# dotenv File
/march-madness-stats/.env
/march-madness-stats/backend/src/main/resources/.env
/march-madness-stats/frontend/.env

VM Instance March Madness Stats.rdp
.vscode/
march-madness-stats/backend/NCAAMB Schema

# Maven build output
target/

# React frontend
/march-madness-stats/frontend/node/
/march-madness-stats/frontend/node_modules/
/march-madness-stats/frontend/build/
/march-madness-stats/frontend/npm-debug.log
/march-madness-stats/frontend/package-lock.json